{% extends 'Layout.twig' %}

{% block content %}

    <!-- Title -->
    <div class="page-header">
        <h1>Output the last lines of the {{ Log }} file</h1>
        <small>Live view of the {{ Log }}</small>
    </div>
    <div>
        <input type="checkbox" checked id="chk1">
        <label for="chk1">Automatic scrolling on update</label>
    </div>

    <pre id="output" style="width: 100%; height: 100%; max-height:650px; overflow-y:scroll;"></pre>

    <div>
        <input type="checkbox" checked id="chk2">
        <label for="chk2">Automatic scrolling on update</label>
    </div>
{% endblock %}

{% block pagescripts %}
    <script type="text/javascript">window.logtype = "{{ Logtype }}"</script>

    {{ assets({files: [
        'Resources/js/taillog.js',
    ]}) }}
{% endblock %}