<div class="modal fade" id="customDisableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" >Custom disable timeout</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input id="customTimeout" class="form-control" aria-labelledby="myModalLabel" type="number" value="60">
                    <div class="input-group-btn" data-toggle="buttons">
                        <label class="btn btn-default">
                            <input id="selSec" type="radio"> Secs
                        </label>
                        <label id="btnMins" class="btn btn-default active">
                            <input id="selMin" type="radio"> Mins
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="pihole-disable-custom" class="btn btn-primary" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>