<div class="col-lg-3 col-xs-12">
    <!-- small box -->
    <div class="small-box {{ colour }} no-user-select">
        <div class="inner">
            <h3 class="statistic" id="{{ id }}">---</h3>
            <p>{{ title }}</p>
        </div>
        <div class="icon">
            <i class="fas {{ icon }}"></i>
        </div>
    </div>
</div>