<div class="col-md-6">
    <div class="box" id="query-types-pie">
        <div class="box-header with-border">
            <h3 class="box-title">Query Types</h3>
        </div>
        <div class="box-body">
            <div style="width:50%">
                <canvas id="queryTypePieChart" width="280" height="280"></canvas>
            </div>
            <div class="chart-legend" style="width:50%" id="query-types-legend"></div>
        </div>
        <div class="overlay">
            <i class="fa fa-sync fa-spin"></i>
        </div>
        <!-- /.box-body -->
    </div>
</div>