<div class="col-md-6">
    <div class="box" id="forward-destinations-pie">
        <div class="box-header with-border">
            <h3 class="box-title">Upstream servers</h3>
        </div>
        <div class="box-body">
            <div style="width:50%">
                <canvas id="forwardDestinationPieChart" width="280" height="280"
                        class="extratooltipcanvas no-user-select"></canvas>
            </div>
            <div class="chart-legend" style="width:50%" id="forward-destinations-legend"></div>
        </div>
        <div class="overlay">
            <i class="fa fa-sync fa-spin"></i>
        </div>
        <!-- /.box-body -->
    </div>
</div>