{% extends 'Layout.twig' %}

{% block content %}
    <style>
        .tooltip-inner {
            max-width: none;
            white-space: nowrap;
        }
    </style>    {% if Success %}
    <div id="alInfo" class="alert alert-info alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4><i class="icon fa fa-info"></i> Info</h4>
        {{ Success|raw }}
    </div>
    {% elseif Error %}
    <div id="alError" class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4><i class="icon fa fa-ban"></i> Error</h4>
        {{ Error|raw }}
    </div>
    {% endif %}
<div class="row">
    <div class="col-md-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" role="tablist">
                {% for Tab in MenuItems.Tabs %}
                    {% include('Partials/Settings/Tab.twig') %}
                {% endfor %}
            </ul>
            <div class="tab-content">
                <!-- ######################################################### System admin ######################################################### -->
                {% include('Partials/Settings/System.twig') %}
                <!-- ######################################################### DHCP ######################################################### -->
            </div>
        </div>
    </div>
</div>
    {% endblock %}

    {% block pagescripts %}
    {{ assets({files: [
        'Resources/vendor/jquery.confirm.min.js',
        'Resources/js/settings.js',
    ]}) }}
{% endblock %}