{% extends 'Layout.twig' %}

{% block content %}

    <!-- Title -->
    <div class="page-header">
        <h1>Local CNAME Records</h1>
        <small>On this page, you can add CNAME records.</small>
    </div>

    <!-- Domain Input -->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                {{ include('Partials/DNS/Form.twig', {
                    'Title': 'Add a new CNAME record',
                    'Origin': 'Domain',
                    'OriginPlaceholder': 'Domain or comma-separated list of domains',
                    'Target': 'Target Domain',
                    'TargetPlaceholder': 'Associated Target Domain',
                    'fieldtype': 'url',
                }) }}
                <div class="box-footer clearfix">
                    <strong>Note:</strong>
                    <p>The target of a <code>CNAME</code> must be a domain that the Pi-hole already has in its cache or
                        is authoritative for. This is a universal limitation of <code>CNAME</code> records.</p>
                    <p>The reason for this is that Pi-hole will not send additional queries upstream when serving <code>CNAME</code>
                        replies. As consequence, if you set a target that isn't already known, the reply to the client
                        may be incomplete. Pi-hole just returns the information it knows at the time of the query. This
                        results in certain limitations for <code>CNAME</code> targets,
                        for instance, only <i>active</i> DHCP leases work as targets - mere DHCP <i>leases</i> aren't
                        sufficient as they aren't (yet) valid DNS records.</p>
                    <p>Additionally, you can't <code>CNAME</code> external domains (<code>bing.com</code> to <code>google.com</code>)
                        successfully as this could result in invalid SSL certificate errors when the target server does
                        not serve content for the requested domain.</p>
                    <button type="button" id="btnAdd" class="btn btn-primary pull-right">Add</button>
                </div>
            </div>
        </div>
    </div>
    {{ include('Partials/DNS/ListBox.twig', {'Title': 'List of local CNAME records', 'Target': 'Target Domain'}) }}

{% endblock %}

{% block pagescripts %}
    <script type="text/javascript">window.dnstype = "CNAME"</script>
    {{ assets({files: [
        'Resources/js/customdns.js'
    ]
    }) }}
{% endblock %}