{% extends 'Layout.twig' %}

{% block content %}

    <!-- Title -->
    <div class="page-header">
        <h1>Local DNS Records [A/AAAA]</h1>
        <small>On this page, you can add domain/IP associations</small>
    </div>

    <!-- Domain Input -->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                {{ include('Partials/DNS/Form.twig', {
                    'Title': 'Add a new domain/IP combination',
                    'Origin': 'Domain',
                    'Target': 'IP Address',
                    'Placeholder': 'Associated IP Address',
                    'fieldtype': 'text',
                }) }}
                <div class="box-footer clearfix">
                    <strong>Note:</strong>
                    <p>The order of locally defined DNS records is: </p>
                    <ol>
                        <li>The device's host name and <code>pi.hole</code></li>
                        <li>Configured in a config file in <code>/etc/dnsmasq.d/</code></li>
                        <li>Read from <code>/etc/hosts</code></li>
                        <li>Read from the "Local (custom) DNS" list (stored in <code>/etc/pihole/custom.list</code>)
                        </li>
                    </ol>
                    <p>Only the first record will trigger an address-to-name association.</p>
                    <button type="button" id="btnAdd" class="btn btn-primary pull-right">Add</button>
                </div>
            </div>
        </div>
    </div>
    {{ include('Partials/DNS/ListBox.twig', {'Title': 'List of local DNS domains', 'Target': 'ip'}) }}
{% endblock %}

{% block pagescripts %}
    <script type="text/javascript">window.dnstype = "DNS"</script>
    {{ assets({files: [
        'Resources/js/ip-address-sorting.js',
        'Resources/js/customdns.js'
    ]
    }) }}
{% endblock %}