<!DOCTYPE html>
<!--
*  Pi-hole: A black hole for Internet advertisements
*  (c) 2017 Pi-hole, LLC (https://pi-hole.net)
*  Network-wide ad blocking via your own hardware.
*
*  This file is copyright under the latest version of the EUPL.
*  Please see LICENSE file for your rights under this license.
-->
<html lang="en">
{{ include('Partials/Head.twig') }}

<body class="lcars hold-transition sidebar-mini logged-in">
<div class="wrapper">
    {{ include('Partials/Header.twig') }}
    {{ include('Partials/LeftMenu.twig') }}
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            {% block content %}{% endblock %}
        </section>
    </div>
    {% include('Partials/Footer.twig') %}
    {% include('Partials/DisableModal.twig') %}
</div>
{% include('Includes/javascript.twig') %}
{% block pagescripts %}{% endblock %}
</body>
</html>