<li role="presentation" class="{{ Tab.Classes }}">
    <a href="settings/#{{ Tab.Slug }}" aria-controls="sysadmin"
       aria-expanded="{{ Tab.Expanded }}" role="tab" data-toggle="tab">{{ Tab.Title }}</a>
</li>